html, body {
    font-family: sans-serif;

    padding: 0;
    margin: 0;
}

.header-wrapper {
    display: grid; 
    grid-template-areas: 
    "header-logo header-title"
    "header-menu header-menu"
    ;

    background-color: black;
}


.header-logo {
    grid-area: header-logo;

    display: flex;

    width: 50px;
    height: 50px;

    padding: 1rem;
}

.header-title {
    grid-area: header-title;

    color: white;
}


.header-menu {
    grid-area: header-menu;

    /* display: grid; 
    grid-template-columns: repeat(12, 1fr); */

    display: flex; 
    justify-content: space-around; 
}

.menu-item  {
    /* grid-column: span 4; */

    color:white;

    padding: 1rem;
}

.main-wrapper {
    padding: 1rem;
}

.main-title {
    display: flex; 
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    
    gap: 1rem; 
}

.card {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    border: 1px solid black;

    padding: 0.25rem;

}

.card-link {
    display: inline-block;

    margin-top: auto;

    text-decoration: none;

    color:white;
    box-shadow: inset 5em 1em black;
}


.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    
}


.footer-link {
    grid-column: span 12;

    color: black; 

    padding: 1rem;

    font-size: 16px;

}


@media (min-width: 40rem) {    
      .card {
        grid-column: span 4;
      
      }
  
      .footer-link {
          grid-column: span 4;
 
      }
}
  
  
  
  